{
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": false,
  "bracketSameLine": true,
  "semi": true,
  "plugins": [],
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "singleQuote": false,
        "printWidth": 80,
        "bracketSpacing": true,
        "htmlVoidTags": "never" 
      }
    }
  ]
}
